<div class="list-container">
  <div class="category-container" *ngFor="let category of frisbeesCategories">
    <h2 class="category-container__title">{{ category }} category</h2>
    <div class="category-container__wrapper">
      <ng-container *ngFor="let frisbee of frisbeeList">
        <ng-container *ngIf="frisbee.category === category">
          <app-frisbee
            class="frisbee-container"
            [frisbee]="frisbee"
          ></app-frisbee>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
