@import "../../../assets/abstracts/variables";

.list-container {
  padding: 2rem;
  background-image: linear-gradient(45deg, black, transparent);
}

.category-container {
  animation: moveInLeft 1s ease-in-out;

  &:not(:last-child) {
    margin-bottom: 5rem;
  }
  &__title {
    background-image: linear-gradient(
      to right,
      $color-primary,
      $color-secondary
    );
    font-size: 3rem;
    color: $color-white;
    letter-spacing: 3px;
    text-align: center;
    padding: 2rem;
    text-transform: capitalize;
  }

  &__wrapper {
    display: flex;
    gap: $default-gap;
    flex-wrap: wrap;
    background-color: gray;
    justify-content: flex-start;
    padding: 2rem;

    .frisbee-container {
      cursor: pointer;
      position: relative;
    }
  }
}
@media only screen and (max-width: 600px) {
  .list-container {
    padding: 0;
  }
  .frisbee-container {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .frisbee-container {
    width: calc(50% - $default-gap);
  }
}

@media only screen and (min-width: 992px) {
  .frisbee-container {
    width: calc(33% - $default-gap);
  }
}

@media only screen and (min-width: 1200px) {
  .frisbee-container {
    width: calc(25% - $default-gap);
  }
}
