@import "../../../assets/abstracts/variables";
@import "../../../assets/abstracts/mixins";

.details-view-container {
  align-items: center;
  background-color: $color-primary;
  background-color: $color-white;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 5rem;
  position: relative;
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.8),
      rgba($color-secondary, 0.8)
    ),
    url(../../../assets/img/bg-details-page.jpg);

  .go-back-button {
    left: 2%;
    position: absolute;
    top: 2%;
    z-index: 1;
    animation: moveInLeft 1s ease-in-out;

    span {
      margin-right: 2rem;
    }
  }

  .frisbee-container {
    background-color: $color-white;
    border-radius: $default-border-radius;
    opacity: 0.8;

    &__information {
      display: flex;
      height: 65vh;
      gap: 2rem;
      overflow: hidden;

      &--image {
        border-top-left-radius: $default-border-radius;
        background-image: linear-gradient(to right, black, transparent);

        .img-container {
          opacity: 0.6;
          background-size: cover;
          border-top-left-radius: inherit;
          height: inherit;
          width: 100%;
        }
      }

      .rate-container {
        display: inherit;
        font-size: 2rem;
        gap: 10px;
        .checked {
          color: orange;
        }
      }

      &--image {
        animation: moveInLeft 1s ease-in-out;
      }

      &--description {
        animation: moveInRight 1s ease-in-out;
      }
    }

    &__price {
      align-items: center;
      height: 20vh;
      text-align: center;

      &--button {
        margin: 0 auto;
        width: 50%;
      }

      &--description {
        justify-content: center !important;
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
        h2 {
          font-size: 2.5rem;
        }
        h3 {
          font-size: 4rem;
        }
      }
    }
  }

  .not-found-page {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .details-view-container {
    padding: 0;
  }

  .go-back-button {
    top: 1% !important;
  }

  .frisbee-container {
    border-radius: 0 !important;
    &__information {
      @include flex-column;
      height: auto !important;
      margin-bottom: 2rem !important;

      &--image {
        border-radius: 0 !important;
      }

      .image__container {
        border-radius: 0 !important;
      }

      &--description {
        font-size: 1.2rem;
        padding: 0 2rem !important;
        gap: 0.8rem;
      }
    }

    &__price {
      display: flex;
      flex-direction: column-reverse;
      height: auto !important;
      margin-bottom: 5rem;

      &--description {
        margin-bottom: 3rem;
      }
    }
  }
  .col-1,
  .col-2 {
    width: 100% !important;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .frisbee-container {
    &__information--description {
      height: 65vh;
      overflow: hidden;
      padding: 2rem 0;
      justify-content: initial !important;
    }

    &__information--description > div {
      height: 100%;
      overflow: hidden;
      overflow-y: scroll;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .frisbee-container {
    &__information--description {
      display: flex;
      height: 65vh;
      overflow: hidden;
      padding: 2rem 0;
    }

    &__information--description > div {
      @include flex-column;
      justify-content: space-between;
      height: 100%;
      overflow: hidden;
      overflow-y: scroll;
    }
  }
}
